.card2 {
    --primary-clr: #1C204B;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);  
    height: 200px;
    border-radius: 10px;
   }
   
   .card2 {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
   }
   
   .card2:hover .img-section {
    transform: translateY(1em);
   }
   
   .card-desc2 {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 10px;
    background: #38445A;
   }
   
   .card-time2 {
    font-size: 1.7em;
    font-weight: 500;
   }
   
   .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
   }
   
   .card-header2 {
    display: flex;
    align-items: center;
    width: 100%;
   }
   
   .card-title2 {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
   }
   
   .card-menu2 {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .card2 img {
    float: right;
    max-width: 100%;
    max-height: 100%;
   }
   
   .card2 .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .card .recent {
    line-height: 0;
    font-size: 0.8em;
   }